@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
}

img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background: linear-gradient(
        90deg,
        rgba(241,237,220,1) 0%,
        rgba(255,255,253,1) 50%,
        rgba(252,246,232,1) 100%,
    );
    padding: 70px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 25px;
    color: #FF3C2A;
    text-transform: uppercase;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111111;
    display: block;
}

.menu .navbar ul li a:hover {
    color: #FF3C2A;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20PX;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: white;
}

.borrar {
    background-color: #FF3C2A;
    border-radius: 50%;
    padding: 5px 10px;
    color: white;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    align-items: center;
    flex: 1;
}

.header-txt {
    flex-basis: 40%;
}

.header-txt h1 {
    font-size: 70px;
    line-height: 1;
    color: #181818;
    text-transform: uppercase;
    margin-bottom: 25px;
}

p {
    color: #4E4B5076;
    font-size: 18px;
    margin-bottom: 25px;
}

.btn-1, .btn-3 {
    display: inline-block;
    padding: 10px 30px;
    color: #FF3C2A;
    border: 2px solid #FF3C2A;
    text-transform: capitalize;
    border-radius: 15px;
}

.btn-1:hover, .btn-3:hover {
    color: #FFFFFF;
    background-color: #FF3C2A;
}

.header-img {
    flex-basis: 60%;
}

.tituloSillas{
    margin-left: 10%;
    padding: 10px;
}

h1 {
    font-size: 40px;
    text-align: left;
    line-height: 1;
}
h2 {
    font-size: 20px;
    font-family: arial;
    color: black;
    margin-bottom: 10px;
}
p {
    color: #4E4B5076;
    font-size: 18px;
    margin-bottom: 25px;  
    color: #4E4B5076;
    font-size: 18px;
    margin-bottom: 25px;
}
.ventas-content {
    display: flex;
    gap: 20px;
    padding: 20px;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    width: 100%;
}
.ventas-1 {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.ventas-1 img {
    width: 100%;
    max-width: 150px;
    height: 170px;
    object-fit: cover;
    border-radius: 8px;
}
.producto-p h1 {
    font-size: 18px;
    margin: 10px 0;
}
.producto-p .precio {
    font-weight: bold;
    color: #FF3C2A;
}
.producto-p a {
    display:inline-block;
    text-decoration: none;
    color: red;
    border: 2px solid #FF3C2A;
    padding: 10px 30px;
    border-radius: 15px;
    margin-top: 5px;
}
.producto-p a:hover {
    color: #ddd;
    background-color: #FF3C2A;
}
.ventas-1 img {
    width: 130px;
    height: 170px;
    margin-bottom: 10px;
}
.producto-p p {
    margin-bottom:10px;
}
.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    justify-content:center; 
}

.footer {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 17px;
    color: #181818;
    margin-bottom: 10px;
}

.link a {
    font-size: 17px;
    color: #181818;
    display: block;
    margin-bottom: 5px;
}

.link a:hover{
    color: #FF3C2A;
}

.link p{
    color: #808b96;
    font-size: 14px;
}

@media (max-width: 1024px) {
    .contenedor {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .contenedor {
        grid-template-columns: repeat(1, 1fr);
    }
}
@media(max-width:991px){

    .menu {
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #FF9000;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .menu .navbar ul li a:hover {
        color: #FFFFFF;
    }

    .header {
        min-height: 0vh;
        padding: 100px 30px 50px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
    }

    .header-txt {
        margin-bottom: 25px;
    }
    .footer {
        padding: 30px;
        flex-direction: column;
        text-align: center;
    }
}
